<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :venue_id %><br>
    <%= f.select(:venue_id, Venue.all.collect {|v| [ v.address, v.id ] }, {prompt: 'Select Venue'}) %>
  </div>
  <div class="field">
    <%= f.label :artist_id %><br>
    <%= f.select(:artist_id, Artist.all.collect {|a| [ a.name, a.id ] }, {prompt: 'Select Artist'}) %>
  </div>
  <div class="field">
    <%= f.label :timetable_date %><br>
    <%= f.datetime_select(:timetable_date) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
