<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue.address %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @event.artist.name %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
