<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.select(:event_id, Event.all.collect {|e| [ e.name, e.id ] }, {prompt: 'Select Event'}) %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.select(:user_id, User.all.collect {|u| [ u.email, u.id ] }, {prompt: 'Select User'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
